@import '../colors';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: ubuntu sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}


.header-news {
  min-height: 13rem;
  display: flex;
  flex: 1;
  margin-bottom: 2rem;
  justify-content: flex-start;
  overflow: hidden;

  &__container {

    height: 18rem;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    background-color: rgb(165, 195, 219);
    position: relative;
  }

  & > button {
    position: absolute;
    top: 0;
    height: 18rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: rgba($black, 0.4);
    cursor: pointer;
    user-select: none;
    transition: 0.5s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba($white, 0.4);
      color: $black;
    }

    &.last {
      right: 0;
    }
  }
}

.header-news__container > div {
  min-width: calc(100% / 4);
  display: flex;
  justify-content: center;
  max-height: 10rem;
  overflow: hidden;
  line-height: 2rem;
  padding: 1rem;
}
